/* ================= GENERAL ============= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

/* ==================NAVBAR============== */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  text-decoration: none;
  background-color: rgb(38, 74, 165);
  height: 7.5rem;
  font-size: 2rem;
}

nav a {
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  gap: 4rem;
}

/* ================Meal================== */

.meal-list {
  text-align: center;
  background-color: rgb(232, 244, 255);
  padding: 3rem 0;
}

.meal {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem;
  display: inline-block;
  margin: 1rem;
  box-shadow: 2px 7px 3px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(3, 15, 41);
  color: aliceblue;
  border-radius: 1rem;
  transition: all 0.4s;
  width: 30rem;
}

.meal:hover {
  transform: scale(1.05);
}

.meal img {
  height: 25rem;
  border-radius: 1rem;
}

.meal-snippet-info {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  text-align: start;
}

.meal-name {
  word-wrap: break-word;
}

.btn {
  background-color: rgb(131, 7, 7);
  padding: 3px 2rem;
  color: white;
  border-radius: 0.5rem;
  margin-top: 0rem;
  display: inline-block;
}

/* ====================Search Form ======================== */

.search-form {
  background-color: rgb(24, 49, 113);
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  padding: 8rem 0 6rem 0;
}

.search-label {
  letter-spacing: 3px;
  font-size: 4rem;
}

.search-input {
  width: 40rem;
  font-size: 4rem;
  outline: none;
  padding: 0.2rem 1rem;
  margin-top: 3rem;
  background-color: rgb(232, 232, 232);
  border-radius: 0.5rem;
  border: 3px solid black;
  text-transform: capitalize;
}
